.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-text {
  color: black;
}

.box {
  border-color: black;
  border-style: solid;
  color: black;
  font-size: 10px;
  height: 23px;
  width: 23px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(28,23px); 
  grid-template-rows: repeat(28,23px); 

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
